    <!-- Menu -->
    <div class="menu">
        <ul class="list">

            <li class="header">MENU PRINCIPAL</li>

            <li> 
                <a href="{{path('dashboard')}}" class=""><i class="zmdi zmdi-home"></i><span>Tableau de Bord</span></a>
            </li>

            <li class="active open">
                <a href="{{path('activite_index')}}"><i class="zmdi zmdi-blogger"></i><span>Secteurs d'activités</span> </a>
            </li>   

            <li>
                <a href="blog-dashboard.html"><i class="zmdi zmdi-accounts-list"></i><span>Contacts</span> </a>
            </li>
                    
        </ul>
    </div>
    <!-- #Menu --> 