<div class="profile-sub-header">
    <div class="box-list">
        <ul class="text-center">
            <li>
                <a href="image-gallery.html" class=""><i class="zmdi zmdi-account-add"></i><p> Utilisateurs </p></a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="zmdi zmdi-refresh-alt"></i><p> Mise à jour Profil </p></a>
            </li>
            <li>
                <a href="events.html"><i class="zmdi zmdi-settings"></i><p> Parametres </p></a>
            </li>
        </ul>
    </div>
</div>